body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f1faee;
    min-height: 100vh;
    box-sizing: border-box;
}


header {
    background-color: #1d3557;
    color: white;
    padding: 0.5em;
    text-align: center;
    position: relative;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 1em;  
}

.hamburger {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 0.5em 0;
    padding: 0.5em 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    position: relative;
}

nav ul li a:hover {
    color: #a8dadc;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #a8dadc;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1); 
}

main {
    max-width: 600px;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-top: 0; 
    font-size: 2em;
    color: #1d3557;
}

figure {
    margin: 1em 0; 
    background-color: #F1FAEE;
    padding: 1em;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

figcaption {
    padding: 0.5em;
    border-radius: 0 0 8px 8px;
    font-size: medium;
    background-color: #F1FAEE;
    min-height: 1em;
}

footer {
    background-color: #1d3557;
    color: white;
    padding-bottom: 1em;
    text-align: center;
    font-size: small;
    min-height: 50px;
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul.show {
        display: flex;
    }
}