/* Styles for larger screens (min-width: 600px) */

@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
        display: flex !important; 
    }

    nav ul li {
        margin: 0 1em;
        padding: 0.5em 0;
    }

    main {
        max-width: 1000px;
        text-align: center; 
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure {
        width: calc(33.33% - 1em); 
        margin-bottom: 1em; 
        min-height: 200px; 
    }

    figure img {
        width: 100%; 
        height: auto; 
        border: 2px solid #457b9d;
        border-radius: 8px;
    }
}