body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #086788;
    color: #FFF1D0;
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

picture {
    display: block;
    margin: 0;
    padding: 0;
}

picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.data, .weather {
    width: 90%;
    max-width: 800px;
    margin: 1em 0;
}

h2 {
    text-align: center;
    color: #DD1C1A;
    border-bottom: 1px solid #F0C808;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
    font-size: 1rem;
}

.weather-icon {
    width: 50px; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1em;
    font-size: 1rem;
    background-color: #086788;
    color: #FFF1D0;
    min-height: 50px;
}

@media (max-width: 599px) {
    .weather .weather-icon-large {
        display: none; 
    }
}